<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Query Visualization</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>

<body class="pt-5">
  <!-- pt-5 to add space between below navigation bar -->

  <!-- Header -->
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"> Query Visualization </a>
  </nav>

  <div class="container-fluid">

    <!-- Row 1 -->
    <div class="row mt-3">
      <div class="col">
        <div class="card border-dark mb-3">
          <div class="card-header"> Directed Acyclic Graph </div>
          <div class="card-body">
            <div id="dag"> </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row mt-3" id="stats-row" style="display:none;">
      <!-- id="stats-row" style="display:none;" -->

      <div class="col">
        <div class="card-deck">
          <!-- <div class="col-sm-6"> -->
          <!-- col will also work-->
          <div class="card border-info mb-3">
            <div class="card-header">
              Operator Statistics - Graphical

              <!-- Drop down button -->
              <div class="btn-group float-right">
                <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <!-- More -->
                </button>
                <div class="dropdown-menu">
                  <h6 class="dropdown-header">Select another chart</h6>
                  <a class="dropdown-item" id="bar" onclick="createChart('bar')">Bar Chart</a>
                  <a class="dropdown-item" id="line" onclick="createChart('line')">Line Chart</a>
                  <a class="dropdown-item" id="pie" onclick="createChart('pie')">Pie Chart</a>
                </div>
              </div>
              <!-- Drop down button -->

            </div>
            <div class="card-body"> <canvas id="parametersChart"></canvas> </div>
          </div>
          <!-- </div> -->

          <!-- <div class="col-sm-6"> -->
          <div class="card border-info mb-3">
            <div class="card-header"> Operator Statistics - Textual</div>
            <div class="card-body" id="stats-text"> </div>
          </div>
          <!-- </div> -->
        </div>
      </div>

    </div>

  </div>

  <p class="mt-5 mb-3 text-muted text-center">© 2018-2019</p>

  <!-- Footer -->
  <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
  <!-- <nav class="navbar navbar-dark fixed-bottom bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"> Query Visualization </a>
  </nav> -->


  <script src="https://d3js.org/d3.v4.min.js"></script>
  
  <script>

    // Variables
    var socket = new WebSocket("ws://localhost:4000/echo");
    var parametersChart = null;
    var chartLabels = [];
    var chartData = [];
    let newChart;
    let chartType = 'bar';
    var selected;

    // Function Definitions
    function fetchData() {

      // Fetch json data
      // Use https://d059d46c-898c-4ad8-bd3d-ec8d4c5c870d.mock.pstmn.io/dv (to get data from postman)
      // Use 'http://localhost:4000/api' (to get data from local server)

      fetch('/api') // '/api' or 'http://localhost:4000/api' will work
        .then(function (response) {
          return response.json();
        }).then(function (myJson) {

          var nodes = myJson.nodes;
          console.log("Nodes: ", nodes);
          var links = myJson.links;
          console.log("Links", links);

          createGraph(nodes, links)

        });
    };

    function createGraph(nodes, links) {
      
      // Hide stats when data is directly pushed from server using websocket
      document.getElementById("stats-row").style.display = "none";

      var width = window.innerWidth
      var height = window.innerHeight / 2

      var svg = d3.select('#dag').append('svg')
      svg.attr('width', width).attr('height', height)

      // simulation setup with all forces
      var linkForce = d3
        .forceLink()
        .id(function (link) { return link.id })
      //.strength(function (link) { return link.strength })

      var simulation = d3
        .forceSimulation()
        .force('link', linkForce)
        .force('charge', d3.forceManyBody().strength(-4500))
        .force('center', d3.forceCenter(width / 2, height / 2))

      var dragDrop = d3.drag().on('start', function (node) {
        node.fx = node.x
        node.fy = node.y
      }).on('drag', function (node) {
        simulation.alphaTarget(0.7).restart()
        node.fx = d3.event.x
        node.fy = d3.event.y
      }).on('end', function (node) {
        if (!d3.event.active) {
          simulation.alphaTarget(0)
        }
        node.fx = null
        node.fy = null
      })


      function mouseover() {
        d3.select(this)
          .transition()
          .duration(150)
          .attr("r", 16)
        //.style("fill", "lightsteelblue");
        console.log("Node is:", this)
      }

      function mouseout() {
        d3.select(this)
          .transition()
          .duration(150)
          .attr("r", 11)
      }


      var tooltip = d3.select("body")
        .append("div")
        .attr("class", "card")
        .style("position", "absolute")
        .style("z-index", "20")
        .style("visibility", "hidden")
        .text("No Information Available!");

      svg = d3.select("svg")
      svg.append("svg:defs").append("svg:marker")
        .attr("id", "arrow")
        .attr("viewBox", "0 -5 10 10")
        .attr('refX', -50)//so that it comes towards the center.
        .attr("markerWidth", 5)
        .attr("markerHeight", 5)
        .attr("orient", "auto")
        .append("svg:path")
        .attr("d", "M0,-5L10,0L0,5");

      var linkElements = svg.selectAll("line.link")
        .data(links)
        .enter().append("path")//append path
        .attr("class", "link")
        .style("stroke", "#000")
        .attr('marker-start', (d) => "url(#arrow)")//attach the arrow from defs
        .style("stroke-width", 2);

      var nodeElements = svg.append("g")
        .attr("class", "nodes")
        .selectAll("circle")
        .data(nodes)
        .enter().append("circle")
        .attr("r", 11)
        .attr("fill", getNodeColor)
        .attr("stroke", "black")
        .call(dragDrop)
        .on('click', selectNode)
        .on("mouseover", mouseover)
        .on("mouseout", mouseout);

      /* Display Tooltip

      .on("mouseover", function(node){
        tooltip.text(JSON.stringify(node.parameters));
        console.log("Mouse over:", node.parameters);
        return tooltip.style("visibility", "visible");

      })
      .on("mousemove", function(){return tooltip.style("top", (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
      .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
      
      */


      var textElements = svg.append("g")
        .attr("class", "texts")
        .selectAll("text")
        .data(nodes)
        .enter().append("text")
        .text(function (node) { return node.label })
        .attr("font-size", 15)
        .attr("dx", 15)
        .attr("dy", 4)

      simulation.nodes(nodes).on('tick', () => {
        nodeElements
          .attr('cx', function (node) { return node.x })
          .attr('cy', function (node) { return node.y })
        textElements
          .attr('x', function (node) { return node.x })
          .attr('y', function (node) { return node.y })
        linkElements
          .attr("d", (d) => "M" + d.source.x + "," + d.source.y + ", " + d.target.x + "," + d.target.y)
      })

      simulation.force("link").links(links)
    }

    function getNodeColor(node) {
      return node.level === 2 ? 'OrangeRed' : 'SpringGreen'
    }

    function selectNode(selectedNode) {
      // Select unselect  node
      // if (!selected) {
      //   selected = this;
      //   d3.select(selected).style('stroke', 'blue');
      // }
      // else if (selected == this) {
      //   d3.select(selected).style('stroke', 'black');
      //   selected = undefined;
      // }

      document.getElementById("stats-row").style.display = "block";

      var thisNode = selectedNode
      // On node selection we are making chartData empty
      chartLabels = []
      chartData = []

      var parametersObj = selectedNode.parameters

      Object.keys(parametersObj).forEach(function (key) {
        // console.log(key + '=' + parametersObj[key]);
        chartLabels.push(key)
        chartData.push(parametersObj[key])
      });

      createChart(chartType)
      showStatsText(parametersObj)
    }

    function createChart(type) {

      let myChart = document.getElementById("parametersChart").getContext('2d')

      if (newChart != null) {
        newChart.destroy();
      }

      newChart = new Chart(myChart, {
        type: type, //bar, pie, horizontalBar, line, doughnut, radar, polarArea
        data: {
          labels: chartLabels,
          datasets: [{
            label: '',
            data: chartData,
            //backgroundColor:'blue'
            backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"],
            borderWidth: 2,
            borderColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"],
            hoverBorderWidth: 2,
            //hoverBorderColor: 'black',
            lineTension: 0.1,
            fill: false
          }]
        },
        options: {
          legend: {
            display: false
          }
        }
      });

      chartType = type
    }

    function showStatsText(paramObj) {
      let cardBody = document.getElementById("stats-text");
      while (cardBody.firstChild) {
        cardBody.removeChild(cardBody.firstChild);
      }

      Object.keys(paramObj).forEach(function (key) {
        console.log(key + '=' + paramObj[key]);

        let outerDiv = cardBody.appendChild(document.createElement('div'));
        outerDiv.setAttribute("class", "card bg-light mb-3");
        let innerDiv = outerDiv.appendChild(document.createElement('div'))
        innerDiv.setAttribute("class", "card-body")
        innerDiv.innerHTML = key + ' = ' + paramObj[key]

        cardBody.appendChild(document.createElement('br'));

      });

    }

    // Calling functions
    fetchData();

    // Socket delegate methods
    socket.onopen = function () {
      socket.send("Connection created!!!");
    };

    socket.onmessage = function () {
      d3.select("#dag").select("svg").remove();
      fetchData();
    };


    //window.setTimeout(chart);
   // window.addEventListener("resize", fetchData);
  </script>

</body>

</html>