<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js">
    </script>
    <title>My Chart</title>
  </head>
  <body>
    <div class="container">
      <canvas id="myChart"></canvas>
    </div>

    <script>
      let myChart = document.getElementById('myChart').getContext('2d')
      let massPopChart = new Chart(myChart, {
        type:'bar', //bar, pie, horizontalBar, line, doughnut, radar, polarArea
        data: {
          labels:{{ .Names }},
          datasets:[{
            label:'Population',
            data:{{ .Population }},
            //backgroundColor:'blue'
            backgroundColor:['green', 'blue', 'red', 'yellow', 'powderblue'],
            borderWidth:4,
            borderColor:'gray',
            hoverBorderWidth:4,
            hoverBorderColor:'black'
          }]
        },
        options: {}
      });
    </script>

  </body>
</html>
